<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black;">
  <div class="container">
    <a class="navbar-brand" href="#">Dynamic Form Builder</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fields/create">Create Form Field</a>
        </li>
      </ul>
    </div>
  
  </div>
</nav>

<div class="row" style="margin-top:64px;">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Dynamic Form Builder</h3>
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>