<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>
    {{movie.title}}
    <div *cdkDragPreview>

      <div *ngIf="movie.field==='text'">
        <div class="form-group" style="margin: 25px 50px">
          <label for="">Text</label>
          <input type="movie.field" class="form-control" name="Text" id="Text" value={{movie.field}} aria-describedby="helpId" placeholder="Text">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
      </div>

      <div *ngIf="movie.field==='number'">
        <div class="form-group" style="margin: 25px 50px">
          <label for="">Text</label>
          <input type="movie.field" class="form-control" name="Text" id="Text" value={{movie.field}} aria-describedby="helpId" placeholder="Text">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
      </div>

      <div *ngIf="movie.field==='password'">
        <div class="form-group" style="margin: 25px 50px">
          <label for="">Text</label>
          <input type="movie.field" class="form-control" name="Text" id="Text" value={{movie.field}} aria-describedby="helpId" placeholder="Text">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
      </div>
      <div *ngIf="movie.field==='textarea'">
        <div class="form-group" style="margin: 25px 50px">
          <label for="">Text Area</label>
          <textarea class="form-control" name="textarea" id="textarea" rows="3"></textarea>
        </div>
      </div>

    </div>
  </div>
</div>
